.app-container {
  display: flex;
  gap: 20px;
  padding: 20px;
  background: #fafafa;
}

.product-list {
  display: grid;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 15px;
}

.product-card {
  background: #fff;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product-card img {
  max-width: 100%;
  width: 300px;
  height: 170px;
  object-fit: cover;
  border-radius: 8px;
}

.price {
  font-weight: bold;
  color: #333;
  color: #e65c00;
}

.price__s {
  color: #87635a;
}

.add-btn {
  background: #ff6600;
  color: #fff;
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.add-btn:hover {
  background: #e65c00;
}

.btn {
  background: #ff6600;
  color: #fff;
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.btn:hover {
  background: #e65c00;
}

.cart-container {
  flex: 1;
  background: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 384px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
  padding: 8px 0;
}

.cart-controls button {
  background: #ddd;
  border: none;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
}

.cart-controls span {
  margin: 0 8px;
}

.empty-cart-img {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.yourCart {
  color: #e65c00;
}

.cart-text {
  color: #e65c00;
  text-align: center;
}

.loading-text,
.error-text {
  font-size: 18px;
  color: #333;
  text-align: center;
  margin-top: 50px;
}

.product__price {
  display: flex;
  align-items: start;
  margin-bottom: 1px;
  color: #e65c00;
}

.product__name {
  display: flex;
  align-items: start;
  margin: 1px;
}

.product__category {
  display: flex;
  align-items: start;
  margin-bottom: 5px;
}

.order-total {
  display: flex;
  margin-left: auto;
  font-size: 25px;
}

.order-total__s {
  margin-right: auto;
  font-size: 15px;
  color: #260f08;
  font-weight: 400;
}

@media (max-width: 768px) {
  .app-container {
    flex-direction: column;
    align-items: center;
  }

  .product-list {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }

  .cart-container {
    max-width: 100%;
    margin-top: 20px;
  }

  .product-card img {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 480px) {
  .product-list {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .product-card {
    padding: 8px;
  }

  .add-btn,
  .btn {
    padding: 8px 16px;
    font-size: 14px;
  }
}
