body {
  background: #fcf8f6;
}

.loading-text,
.error-text {
  font-size: 18px;
  color: #333;
  text-align: center;
  margin-top: 50px;
}

.container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  gap: 32px;
  padding: 88px 112px;
  max-width: 1440px;
}

.products-container {
  display: flex;
  flex-direction: column;
}

.product-list__name {
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: 0%;
  color: #260f08;
  margin-bottom: 32px;
}

.product-list {
  display: grid;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.product-card img {
  max-width: 100%;
  width: 251px;
  height: 240px;
  object-fit: cover;
  border-radius: 8px;
  position: relative;
}

.product__category {
  display: flex;
  align-items: start;
  margin-top: 16px;
  margin-bottom: 4px;
  font-weight: 400;
  line-height: 100%;
  color: #87635a;
}

.product__name {
  display: flex;
  align-items: start;
  margin-bottom: 4px;
  margin-top: 4px;
  font-weight: 600;
  font-size: 600;
  color: #260f08;
}

.product__price {
  display: flex;
  align-items: start;
  font-weight: 600;
  font-size: 600;
  line-height: 100%;
  color: #c73b0f;
  margin-top: 4px;
}

.add-btn {
  max-width: 160px;
  background: white;
  color: black;
  padding: 12.5px 28px;
  border: 1px solid #ad8a85;
  border-radius: 999px;
  cursor: pointer;
  font-weight: 600;
  font-size: 600;
  line-height: 100%;
  align-items: center;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  gap: 4.5px;
  margin-top: -30px;
  position: relative;
}

.quantity-controls {
  max-width: 127px;
  padding: 13px;
  border: 1px solid #ad8a85;
  border-radius: 999px;
  background: #c73b0f;
  cursor: pointer;
  line-height: 100%;
  align-items: center;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: -30px;
  position: relative;
  gap: 35px;
}

.quantity-btn {
  border-radius: 50%;
  background: #c73b0f;
  color: #fff;
  border: 2px solid #fff;
  align-items: center;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
}

.quantity-value {
  color: white;
  font-weight: 600;
  line-height: 100%;
  font-size: 18px;
}

.cart-container {
  flex: 1;
  background: #fff;
  padding: 24px;
  border-radius: 8px;
  max-width: 384px;
  min-height: 200px;
  max-height: 80vh;
  overflow-y: auto;
}

.yourCart {
  color: #e65c00;
}

.cart-img {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.cart-text {
  color: #e65c00;
  text-align: center;
}

.cart-product__name {
  color: #260f08;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  margin-bottom: 0;
}

.cart-info {
  display: flex;
  gap: 10px;
  margin-top: 0px;
  margin-bottom: 49px;
  border-bottom: 1px solid #f5eeec;
}

.cart-item__amount {
  color: #c73b0f;
  font-weight: 600;
  line-height: 100%;
}

.price {
  color: #87635a;
  line-height: 100%;
  font-weight: 400;
}

.price-value {
  font-weight: 600;
  color: #87635a;
}

.totalPrice {
  display: flex;
  margin-left: auto;
  font-size: 25px;
}

.totalPrice-value {
  margin-right: auto;
  font-size: 15px;
  color: #260f08;
  font-weight: 400;
}

@media (max-width: 1024px) {
  .container {
    flex-direction: column;
    padding: 48px 32px;
    gap: 24px;
  }

  .product-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 730px) {
  .product-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .product-card img {
    width: 100%;
    height: auto;
  }

  .cart-container {
    max-width: 100%;
    padding: 16px;
  }
}

@media (max-width: 480px) {
  .product-list {
    grid-template-columns: repeat(1, 1fr);
  }

  .quantity-btn {
    padding: 3px 9px;
    font-size: 14px;
  }

  .add-btn {
    padding: 9.5px 12px;
    font-size: 14px;
  }

  .quantity-controls {
    padding: 8px 12px;
    font-size: 14px;
    gap: 17px;
    max-width: 100px;
    max-height: 28px;
  }

  .container {
    padding: 16px;
    gap: 16px;
  }
}
